torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
unsloth
unsloth-zoo
transformers>=4.51.3,<=5.5.0
datasets>=3.4.1,<4.4.0
trl>=0.18.2,<=0.24.0
peft
accelerate
bitsandbytes
huggingface_hub
sentencepiece
protobuf
tyro
hf_transfer
cut_cross_entropy
msgspec
torchao
rouge-score
langdetect
wandb
langchain==0.3.25
langchain-core==0.3.62
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
faiss-cpu
sentence-transformers
rank_bm25
pypdf
gradio
duckduckgo-search
